body{
  background-color:rgb(136, 136, 136);
}

.index{
  background-color: rgb(105, 105, 105);
  color:black;
}

.Supercars{
  background-color: rgb(105, 105, 105);

}

.Tunercars{
  background-color: rgb(105, 105, 105);

}
